{% extends "contest/base.html" %}

{% block body_block %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ message }}</h1>
    {% if tournaments %}
        {% for tournament in tournaments %}
        <a href="{% url 'tournament-detail' tournament.slug %}"><h2>{{ tournament.name }}</h2></a>
        {% endfor %}
    {% else %}
        <h2>There are no ongoing tournaments right now</h2>
    {% endif %}
<br>
{% if user.is_authenticated %}
    <a href="/logout/">Logout</a><br />
    <h1>... hello {{ user.username }}!</h1>
{% else %}
<a href="/register/">Register Here</a><br />
<a href="/login/">Login</a><br />
{% endif %}
</body>
</html>

{% endblock %}
